---
// TableOfContents - Simple flat list
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings?: Heading[];
  title?: string;
}

const { headings = [], title = '目录' } = Astro.props;
---

{headings.length > 0 && (
  <nav class="toc" aria-label="Table of contents">
    <div class="toc-title">{title}</div>
    <div class="toc-list">
      {headings.map((heading) => (
        <a href={`#${heading.slug}`} class={`toc-link toc-h${heading.depth}`}>
          {heading.text}
        </a>
      ))}
    </div>
  </nav>
)}
